* {
  margin: 0;
  padding: 0;
}

body {
  background: #20232a;
  font-family: "Roboto";
  margin: 0 auto;
}

header {
  border: 2px solid #9da5b4;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  color: #61dafb;
  margin: 10px auto;
  padding: 1em;
  text-align: center;
  width: 80%;
}

@media screen and (min-width: 800px) {
  header {
    width: 700px;
    margin: 20px auto;
  }
}

header h1 {
  padding: 0.2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  width: 90%;
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
  }
}

.container .text-box {
  height: 33vh;
  width: 90%;
  margin: 5px;
  border: 2px solid #9da5b4;
  padding: 10px;
  font-family: "Roboto";
  white-space: pre-line;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

@media screen and (min-width: 800px) {
  .container .text-box {
    width: 45%;
    height: 75vh;
  }
}

.container .input {
  font-family: monospace;
  background: #282c34;
  color: #ccc;
}

.container .input:focus {
  outline: none;
}

.container .output {
  color: #61dafb;
  overflow: auto;
  overflow-wrap: break-word;
}

.container .output li {
  margin-left: 1em;
  white-space: normal;
}

.container .output table {
  border-collapse: collapse;
}

.container .output th, .container .output td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.container .output blockquote {
  line-height: 0.6em;
  padding: 0.3em;
  margin-left: 1em;
  border-left: 3px solid gray;
}

.container .output img {
  display: block;
  margin: auto;
  width: 7em;
}
