// Variables
$body-bg: #000;
$main-font: 'Roboto';

// Functions
@function set-text-color($bg-color) {
  @if(lightness($bg-color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Reset default margin / padding
* {
  margin: 0;
  padding: 0;
}

// CSS...
body {
  background: $body-bg;
  font-family: $main-font;
}

header {
  color: set-text-color($body-bg);
  padding: 1em;
  text-align: center;

  h1 {
    padding: 0.2em;
  }
}
