// Import from partials
@import 'variables';
@import 'functions';

// Mixins
@mixin border-radius($radius: 5px) {  // default of 5px if no argument added
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Reset default margin / padding
* {
  margin: 0;
  padding: 0;
}

// CSS...
body {
  background: $body-bg;
  font-family: $main-font;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint) {
    width: $breakpoint;
  }
}

header {
  border: $border;
  @include border-radius($radius); // or just '@include border-radius;' for the default
  color: set-text-color($body-bg);
  margin: 5px auto;
  padding: $padding;
  text-align: center;
  width: 80%;


  h1 {
    padding: $padding / 5;
    &:hover {
      color: yellow;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  width: 90%;

  .text-box {
    color: blue;
    height: 33vh;
    width: 90%;
    margin: 5px;
    border: $border;
    padding: 10px;
    font-family: $main-font;
    @include border-radius($radius);
    @media screen and (min-width: $breakpoint) {
      width: $breakpoint/2.6;
      height: 70vh;
    }
  }
}
